p.ball{
	position: absolute;
	width: 8px;
	height: 8px;
}

#square {
	top: 120px;
	left: 350px;
	position: absolute;
	width: 100px;
	height: 100px;
	background: #ff0000;
}

#explain{
	margin: 250px 0px 0px 0px;
}

section {
	margin: 20px 0px 20px 20px;
}
section hgroup {
	margin: 0px 0px 0px -20px;
}

h2 {
	margin: 0px 0px 10px 0px;
	border-bottom : 1px dotted #ccc;
	padding : 0px 0px 5px 5px;
}