body {
	width: 800px;
	margin: 0 auto;
}

a {
    color: blue;
}

h1 {
	font-size: 48px;
	font-weight: normal;
	color: #CCC;
	margin: 0.5em 0 0 0;
}
h1 .reg {
	color: #39C;
}
h1 .ex {
	color: #FC0082;
}
h1 .hot {
	color: #FF0000;
}
h2 {
	font-size: 23px;
	color: #888;
	margin: 0.4em 0 0.7em 1em;
}

.get {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	margin: 0 0.2em;
}

#entries span {
	margin: 0 0 0 0.4em;
}
.star {
	color: #FECD69;
}