<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
	RewriteBase /
 </IfModule>
 
order deny,allow
deny from all
allow from .jp